*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{

    background:#F8F9ED;
    color:#3F5730;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    transition:.3s;
}

body.dark{

    background:#2D3D24;
    color:white;
}

.container{

    width:100%;
    max-width:550px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

body.dark .container{

    background:#425632;
}

h1{

    text-align:center;

    color:#7FA85A;

    margin-bottom:25px;
}

body.dark h1{

    color:#CBE7B4;
}

.campo{

    display:flex;
    flex-direction:column;

    margin-bottom:15px;
}

label{

    margin-bottom:5px;

    font-weight:600;
}

input,
select{

    padding:12px;

    border:2px solid #BFD7A6;

    border-radius:8px;

    font-size:16px;
}

body.dark input,
body.dark select{

    background:#5B7445;
    color:white;
    border:none;
}

button{

    width:100%;

    margin-top:10px;

    padding:12px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    font-weight:bold;

    background:#7FA85A;

    color:white;

    transition:.3s;
}

button:hover{

    opacity:.9;
}

#temaBtn{

    position:fixed;

    top:15px;
    left:15px;

    width:55px;

    z-index:100;

    border-radius:50%;
}

#resultado{

    margin-top:20px;

    padding:20px;

    border-radius:10px;

    background:#EEF5E6;

    border-left:5px solid #7FA85A;

    text-align:center;

    line-height:1.8;
}

body.dark #resultado{

    background:#5B7445;
    color:white;
}

@media(max-width:600px){

    .container{

        padding:20px;
    }

    h1{

        font-size:1.6rem;
    }
}
.assinatura{

    position:fixed;

    left:15px;
    bottom:15px;

    font-size:14px;

    font-weight:700;

    opacity:.12;

    pointer-events:none;

    user-select:none;

    z-index:1;
}
footer{

    width:100%;

    text-align:center;

    padding:12px;

    font-size:12px;

    opacity:.55;

    margin-top:20px;
}
.pagina{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:20px;
}
